.header {
  font-family: Arial, sans-serif;
  background-color: #131921;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.logo {
  width: 40px;
}

.location {
  color: #ccc;
  font-size: 0.9rem;
  flex-direction: column;
  position: relative;
  margin-inline-start: 17px;
}
.locationIcon {
  position: absolute;
  top: 6px;
  right: 172px;
  font-size: 1.4rem;
}
.arabicLocation {
  left: 150px;
  right: unset;
}
.location p {
  margin: 0;
}
.location button {
  background: none;
  color: #00afff;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.1rem;
  font-weight: bold;
}
.searchBar {
  flex: 1;
  display: flex;
  height: 40px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.categorySelect {
  border: none;
  padding: 0 0.5rem;
  background: #ddd;
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 0.5rem;
}

.searchBar button {
  background: #febd69;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

.language select {
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.account,
.orders,
.cart,
.signinTxt {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  text-decoration: none;
}
.signinTxt {
  white-space: pre-line;
}
.cart {
  position: relative;
}

.cartCount {
  background: orange;
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  position: absolute;
  top: -8px;
  right: -10px;
}

.bottomBar {
  background-color: #232f3e;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.bottomBar a {
  color: white;
  text-decoration: none;
}
